{% extends 'main-announce.html' %}
{% load static %}

{% block content %}

    <div class="container" style="margin-top:50px">
        <div class="row" style="margin-top:20px">
            <!-- announcements -->
            <div class="col-md-7">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card-deck">

                            {% for a in adopt %}
                                <a href="{% url 'adopt-announce-detail' a.id %}">
                                    <div class="card golge" style="width: 18rem;">

                                        <img class="card-img-top" src="{{ a.pet_image.url }}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ a.title }}</h5>
                                            <p class="card-text">{{ a.info|slice:"50" }}</p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">{{ a.type }}</li>
                                            <li class="list-group-item">{{ a.gender }}</li>
                                            <li class="list-group-item">{{ a.city }}</li>
                                            {% if request.user.is_authenticated %}
                                                <li class="list-group-item">{{ a.phone }}</li>
                                            {% endif %}
                                        </ul>

                                    </div>
                                </a>
                            {% endfor %}

                        </div>
                    </div>
                </div>

                {#        pagination                #}
                {% include 'pagination.html' with queryset=adopt custom_range=custom_range search_query=search_query %}

            </div>

            <!-- create announcement -->
            <div class="col-md-5">
                <div class="blog-page">
                    <aside class="cardd radius-15 sidebar">
                        <div class="widget-about widget">
                            <header>
                                <h4>Share A Adopted Pet</h4>
                            </header>
                            <img src="{% static 'images/petcircle.jpg' %}" id="icon" alt="User Icon"
                                 style="border-radius: 50%;margin-top:10px;max-width: 60%;"/>

                            <form method="post" action="" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}

                                    {{ field.label }}
                                    {{ field }}

                                {% endfor %}

                                <input type="submit" class="fadeIn fourth" value="Share" style="margin-top:20px">
                            </form>

                        </div>


                    </aside>

                </div>

            </div>
        </div>
    </div>

{% endblock %}