{% extends 'main-announce.html' %}
{% load static %}

{% block content %}

    <div class="container" style="margin-top:10px">
        <div class="row" style="margin-top:20px; justify-content: space-around;">
            <!-- create announcement -->
            <div class="col-md-6">
                <div class="blog-page">
                    <aside class="cardd radius-15 sidebar">
                        <div class="widget-about widget">
                            <a style="display: flex" href="{% url 'founded-announce' %}"><b
                                    style="font-size: 28px;margin-top: -35px;color: black;margin-left: -19px;">⇐</b></a>
                            <header>
                                <h4 style="margin-bottom: -25px;">{{ found.title }}</h4>
                            </header>
                            <img class="card-img-top" src="{{ found.pet_image.url }}" alt="Card image cap"
                                 style="max-width: 463px;max-height: 289px;margin-top: 10px">
                            <div style="display: flex; align-items: flex-start; flex-direction: column;">
                                <div class="labeled-input" style="margin-top:10px">
                                    <li>Type: {{ found.type }}</li>
                                </div>
                                <div class="labeled-input" style="margin-top:10px">
                                    <li>Gender: {{ found.gender }}</li>
                                </div>
                                {% if request.user.is_authenticated %}
                                    <div style="margin-top:10px">
                                        <li>Phone Number: {{ found.phone }}</li>
                                    </div>
                                {% else %}
                                    <div style="margin-top:10px">
                                        <li><a href="{% url 'login' %}?next={{ request.path }}">Please login to see
                                            phone number</a></li>
                                    </div>
                                {% endif %}
                                <div style="margin-top:10px">
                                    <li style="margin-top: 10px">Location: {{ found.city }}</li>
                                </div>
                                <div style="margin-top:10px">
                                    <li>Information: {{ found.info }}</li>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="blog-post-comments">
                        <header><h3>Comments</h3></header>
                        <ul class="comments">
                            {% for comment in found.foundedpetcomment_set.all %}

                                <li class="comment">
                                    <div class="inner">
                                        {% if comment.owner.user_type == 'petlover' %}

                                            {% if comment.owner.profile_image == '' %}
                                                <figure style=" max-height: 75px; max-width: 75px;"><a href=""><img
                                                        src="{% static 'images/profiles/user-default.jpg' %}"
                                                        alt="dummy"></a></figure>
                                            {% else %}
                                                <figure style=" max-height: 75px; max-width: 75px;"><a href=""><img
                                                        src="{{ comment.owner.profile_image.url }}" alt="dummy"></a>
                                                </figure>
                                            {% endif %}

                                        {% elif comment.owner.user_type == 'business' %}

                                            {% if comment.owner.logo == '' %}
                                                <figure style=" max-height: 75px; max-width: 75px;"><a href=""><img
                                                        src="{% static 'images/profiles/store-default.png' %}"
                                                        alt="dummy"></a></figure>
                                            {% else %}
                                                <figure style=" max-height: 75px; max-width: 75px;"><a href=""><img
                                                        src="{{ comment.owner.logo.url }}" alt="dummy"></a>
                                                </figure>
                                            {% endif %}

                                        {% else %}
                                            {% if comment.owner.profile_image == '' %}
                                                <figure style=" max-height: 75px; max-width: 75px;"><a href=""><img
                                                        src="{% static 'images/profiles/user-default.jpg' %}"
                                                        alt="dummy"></a></figure>
                                            {% else %}
                                                <figure style=" max-height: 75px; max-width: 75px;"><a href=""><img
                                                        src="{{ comment.owner.profile_image.url }}" alt="dummy"></a>
                                                </figure>
                                            {% endif %}
                                        {% endif %}
                                        {% if comment.owner.user_type == 'business' %}
                                            <header>
                                                <h6><a href="">{{ comment.owner.business_name }}</a>
                                                    <time datetime="2022-03-28">{{ comment.created }}</time>
                                                </h6>
                                            </header>
                                        {% elif comment.owner.is_superuser %}
                                            <header>
                                                <h6><a href="">{{ comment.owner.username }}</a>
                                                    <time datetime="2022-03-28">{{ comment.created }}</time>
                                                </h6>
                                            </header>
                                        {% else %}
                                            <header>
                                                <h6><a href="">{{ comment.owner.full_name }}</a>
                                                    <time datetime="2022-03-28">{{ comment.created }}</time>
                                                </h6>
                                            </header>
                                        {% endif %}

                                        <p>{{ comment.body }}</p>

                                    </div>
                                </li>

                            {% endfor %}

                        </ul>
                    </div>

                    {% if request.user.is_authenticated %}
                        <div class="add-comment">
                            <header><h3>Leave an Answer</h3></header>
                            <form action="" method="post" class="clearfix">
                                {% csrf_token %}

                                <div class="labeled-input">

                                    {{ form.body }}

                                </div>

                                <button class="btn btn-green btn-small">Submit</button>
                            </form>
                        </div>
                    {% else %}
                        <div class="add-comment">

                            <a href="{% url 'login' %}?next={{ request.path }}">Please login to leave a
                                answer</a>

                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}