{% extends 'main-announce.html' %}
{% load static %}

{% block content %}

    <div class="container" style="margin-top:50px; font-family: cursive">
        <div class="row">

            <!-- announcement -->
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-deck">

                            {% for l in lost %}
                                {% if l.status == "Active" %}
                                    <a href="{% url 'lost-announce-detail' l.id %}">
                                        <div class="card golge" style="width: 18rem;max-width: 18rem;height: 46rem;max-height: 46rem;min-height: 46rem;min-width: 18rem; margin-bottom: 25px;">

                                            <img class="card-img-top" src="{{ l.pet_image.url }}" alt="Card image cap" style="width: 178px;height: 117px;min-height: 117px;max-width: 178px;min-width: 178px;max-height: 117px;">
                                            <div class="card-body" style="    max-height: 13rem;">
                                                <h5 class="card-title">{{ l.title }}</h5>
                                                <p class="card-text" style="color: black;">{{ l.info|slice:"30" }}</p>
                                            </div>

                                            <ul class="list-group list-group-flush" style="color: black;">
                                                <li class="list-group-item">{{ l.type }}</li>
                                                <li class="list-group-item">{{ l.gender }}</li>
                                                <li class="list-group-item">{{ l.city }}</li>
                                                {% if request.user.is_authenticated %}
                                                    <li class="list-group-item">{{ l.phone }}</li>
                                                {% endif %}
                                                <li class="list-group-item">Status: {{ l.status }}</li>

                                            </ul>

                                        </div>

                                    </a>
                                {% else %}
                                    <div class="card golge" style="width: 18rem;max-width: 18rem;height: 46rem;max-height: 46rem;min-height: 46rem;min-width: 18rem; margin-bottom: 25px;">

                                            <img class="card-img-top" src="{{ l.pet_image.url }}" alt="Card image cap" style="width: 178px;height: 117px;min-height: 117px;max-width: 178px;min-width: 178px;max-height: 117px;  filter: grayscale(100%)">
                                            <div class="card-body" style="    max-height: 13rem;">
                                                <h5 class="card-title">{{ l.title }}</h5>
                                                <p class="card-text" style="color: black;">{{ l.info|slice:"30" }}</p>
                                            </div>

                                            <ul class="list-group list-group-flush" style="color: black;">
                                                <li class="list-group-item">{{ l.type }}</li>
                                                <li class="list-group-item">{{ l.gender }}</li>
                                                <li class="list-group-item">{{ l.city }}</li>
                                                {% if request.user.is_authenticated %}
                                                    <li class="list-group-item">{{ l.phone }}</li>
                                                {% endif %}
                                                <li class="list-group-item">Status: {{ l.status }}</li>

                                            </ul>

                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>

                {#        pagination                #}
                {% include 'pagination.html' with queryset=lost custom_range=custom_range search_query=search_query %}

            </div>

            <!-- create announcement -->

            <div class="col-md-5">
                <div class="blog-page">
                    <aside class="cardd radius-15 sidebar">
                        <div class="widget-about widget">

                            <header>
                                <h4>Share A Lost Pet</h4>
                            </header>

                            <img src="{% static 'images/petcircle.jpg' %}" id="icon" alt="User Icon"
                                 style="border-radius: 50%;margin-top:10px;max-width: 40%;"/>

                            <form method="post" action="" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}

                                    {{ field.label }}
                                    {{ field }}
                                    <br>

                                {% endfor %}

                                <input type="submit" class="fadeIn fourth" value="Share" style="margin-top:20px">
                            </form>
                        </div>


                    </aside>

                </div>

            </div>
        </div>
    </div>

{% endblock %}