{% extends 'main-forum-blog.html' %}
{% load static %}

{% block content %}

    {% if request.user.is_authenticated %}

        {% if profile.user_type == 'business' %}

            <div class="app-canvas">
                <div class="container">
                    <div class="blog-page">
                        <div class="row">

                            <!-- forum card -->
                            <div class="col-xs-12 col-md-8">
                                <div class="container" style="margin-bottom:10%">
                                    <div class="row">
                                        <div clasS="col-md-9 mx-auto">
                                            <div class="card radius-15" style="background:white;height:217%">
                                                <div class="card-body">
                                                    <div class="card-title">
                                                        <h5 class="mb-0" style="margin-left:10px; font-size: 28px">
                                                            Forum</h5>
                                                    </div>
                                                    <div class="input-group">
                                                        <form id="searchForm" method="get"
                                                              action="{% url 'forum-page' %}"
                                                              style="display: contents;">
                                                            <input name="search_query" type="search"
                                                                   class="form-control rounded"
                                                                   aria-label="Search" aria-describedby="search-addon"
                                                                   style="margin-left: 535px;max-width: 100px"/>
                                                            <input type="submit" value="Search" class="fas fa-search"
                                                                   style="padding: 3px 32px;margin-left: 660px;margin-top: -24px;"/>
                                                        </form>
                                                    </div>
                                                    <hr>
                                                    <div class="table-responsive">
                                                        <table class="table mb-0">
                                                            <thead class="thead-dark">
                                                            <tr>
                                                                <th>Title</th>
                                                                <th>Answer</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for forum in forums %}

                                                                <tr>
                                                                    <td>
                                                                        <a href="{% url 'forum-detail' forum.id %}">{{ forum.title|slice:"60" }}</a>
                                                                    </td>
                                                                    <td>45</td>
                                                                </tr>

                                                            {% endfor %}
                                                            </tbody>
                                                        </table>

                                                        {#        pagination                #}
                                                        {% include 'pagination.html' with queryset=forums custom_range=custom_range search_query=search_query %}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        {% elif profile.user_type == 'petlover' or profile.is_superuser %}

            <div class="app-canvas">
                <div class="container">
                    <div class="blog-page">
                        <div class="row">

                            <!-- forum card -->
                            <div class="col-xs-12 col-md-8">
                                <div class="container" style="margin-bottom:10%">
                                    <div class="row">
                                        <div clasS="col-md-8">
                                            <div class="card radius-15" style="background:white;height:217%">
                                                <div class="card-body" style="height: 360px;">
                                                    <div class="card-title">
                                                        <h5 class="mb-0" style="margin-left:10px; font-size: 28px">
                                                            Forum</h5>
                                                    </div>
                                                    <div class="input-group">
                                                        <form id="searchForm" method="get"
                                                              action="{% url 'forum-page' %}"
                                                              style="display: contents;">
                                                            <input name="search_query" type="search"
                                                                   class="form-control rounded"
                                                                   aria-label="Search" aria-describedby="search-addon"
                                                                   style="margin-left: 390px;max-width: 100px"/>
                                                            <input type="submit" value="Search" class="fas fa-search"
                                                                   style="padding: 3px 32px;margin-left: 524px;margin-top: -24px;"/>
                                                        </form>
                                                    </div>
                                                    <hr>
                                                    <div class="table-responsive">
                                                        <table class="table mb-0">
                                                            <thead class="thead-dark">
                                                            <tr>
                                                                <th>Title</th>
                                                                <th>Answer</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for forum in forums %}

                                                                <tr>
                                                                    <td>
                                                                        <a href="{% url 'forum-detail' forum.id %}">{{ forum.title|slice:"60" }}</a>
                                                                    </td>
                                                                    <td>45</td>
                                                                </tr>

                                                            {% endfor %}
                                                            </tbody>
                                                        </table>

                                                        {#        pagination                #}
                                                        {% include 'pagination.html' with queryset=forums custom_range=custom_range search_query=search_query %}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- publish card -->
                            <div class="col-xs-12 col-md-4">
                                <aside class="card radius-15 sidebar">
                                    <div class="widget-about widget">
                                        <header>
                                            <h4>Ask Question</h4>
                                        </header>
                                        <img src="{% static 'images/petcircle.jpg' %}" id="icon" alt="User Icon"
                                             style="border-radius: 50%;margin-top:10px;max-width: 80%;"/>

                                        <form method="post" action="" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <label>Choose Image</label>
                                            <div class="p-image" style="margin-top:20px;">
                                                {{ form.forum_image }}
                                            </div>
                                            <label>Title</label>
                                            {{ form.title }}
                                            <label>Post</label>
                                            {{ form.post }}
                                            <input type="submit" class="fadeIn fourth" value="Share"
                                                   style="margin-top:20px">
                                        </form>

                                    </div>
                                </aside>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        {% endif %}

    {% else %}

        <div class="app-canvas">
            <div class="container">
                <div class="blog-page">
                    <div class="row">

                        <!-- forum card -->
                        <div class="col-xs-12 col-md-8">
                            <div class="container" style="margin-bottom:10%">
                                <div class="row">
                                    <div clasS="col-md-9 mx-auto">
                                        <div class="card radius-15" style="background:white;height:217%">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <h5 class="mb-0" style="margin-left:10px; font-size: 28px">
                                                        Forum</h5>
                                                </div>
                                                <div class="input-group">
                                                    <form id="searchForm" method="get"
                                                          action="{% url 'forum-page' %}"
                                                          style="display: contents;">
                                                        <input name="search_query" type="search"
                                                               class="form-control rounded"
                                                               aria-label="Search" aria-describedby="search-addon"
                                                               style="margin-left: 535px;max-width: 100px"/>
                                                        <input type="submit" value="Search" class="fas fa-search"
                                                               style="padding: 3px 32px;margin-left: 660px;margin-top: -24px;"/>
                                                    </form>
                                                </div>
                                                <hr>
                                                <div class="table-responsive">
                                                    <table class="table mb-0">
                                                        <thead class="thead-dark">
                                                        <tr>
                                                            <th>Title</th>
                                                            <th>Answer</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for forum in forums %}

                                                            <tr>
                                                                <td>
                                                                    <a href="{% url 'forum-detail' forum.id %}">{{ forum.title|slice:"60" }}</a>
                                                                </td>
                                                                <td>45</td>
                                                            </tr>

                                                        {% endfor %}
                                                        </tbody>
                                                    </table>

                                                    {#        pagination                #}
                                                    {% include 'pagination.html' with queryset=forums custom_range=custom_range search_query=search_query %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}