{% extends 'main-details.html' %}
{% load static %}

{% block content %}

    <div class="app-canvas" style="font-family: cursive">
        <div class="container">
            <div class="blog-page">
                <div class="row">
                    <!-- forum detail -->
                    <div class="col-xs-12 col-md-8">
                        <div class="card radius-15">
                            <article class="blog-post">
                                {% if forum.forum_image == '' %}
                                    <figure>
                                        <img src="{% static 'images/dog1.jpg' %}" alt="dummy">
                                    </figure>
                                {% else %}
                                    <figure>
                                        <img src="{{ forum.forum_image.url }}" alt="dummy">
                                    </figure>
                                {% endif %}

                                <header>
                                    {% if profile == forum.owner %}
                                        <a href="{% url 'forum-edit' forum.id %}">
                                            <input value="Edit" type="button" class="btn btn-dark"
                                                   style="border-radius: 12%;margin-left: 95%">
                                        </a>
                                    {% endif %}
                                    <h3>{{ forum.title }}</h3>
                                    <ul class="info-list">
                                        {% if forum.owner != NULL %}
                                            {% if profile.user_id == forum.owner.user_id %}
                                                <li>
                                                    <a href="{% url 'profile' %}">Writer: {{ forum.owner.username }}</a>
                                                </li>
                                            {% else %}

                                                <li>
                                                    <a href="{% url 'profiles' forum.owner.user_id %}">Writer: {{ forum.owner.username }}</a>
                                                </li>


                                            {% endif %}
                                        {% else %}
                                            <li>
                                                Writer: [<s>Deleted User</s>]
                                            </li>
                                        {% endif %}

                                    </ul>
                                </header>
                                <div class="blog-content">
                                    <p>{{ forum.post|linebreaksbr }} </p>
                                    <br>
                                    <br>
                                </div>

                            </article>
                            <div class="blog-post-comments">
                                <header><h3>Answers</h3></header>
                                <ul class="comments">
                                    {% for comment in forum.forumcomment_set.all %}
                                        <li class="comment">
                                            <div class="inner">
                                                {% if comment.owner.user_type == 'petlover' %}

                                                    {% if comment.owner.profile_image == '' %}
                                                        <figure><a href=""><img
                                                                src="{% static 'images/profiles/user-default.jpg' %}"
                                                                alt="dummy"></a></figure>
                                                    {% else %}
                                                        <figure><a href=""><img
                                                                src="{{ comment.owner.profile_image.url }}" alt="dummy"></a>
                                                        </figure>
                                                    {% endif %}

                                                {% elif comment.owner.user_type == 'business' %}

                                                    {% if comment.owner.logo == '' %}
                                                        <figure><a href=""><img
                                                                src="{% static 'images/profiles/store-default.png' %}"
                                                                alt="dummy"></a></figure>
                                                    {% else %}
                                                        <figure><a href=""><img
                                                                src="{{ comment.owner.logo.url }}" alt="dummy"></a>
                                                        </figure>
                                                    {% endif %}

                                                {% else %}
                                                    {% if comment.owner.profile_image == '' %}
                                                        <figure><a href=""><img
                                                                src="{% static 'images/profiles/user-default.jpg' %}"
                                                                alt="dummy"></a></figure>
                                                    {% else %}
                                                        <figure><a href=""><img
                                                                src="{{ comment.owner.profile_image.url }}" alt="dummy"></a>
                                                        </figure>
                                                    {% endif %}
                                                {% endif %}
                                                {% if comment.owner.user_type == 'business' %}
                                                    <header>
                                                        <h6>
                                                            {% if profile.user_id == comment.owner.user_id %}
                                                                <a href="{% url 'profile' %}">{{ comment.owner.business_name }}</a>
                                                            {% else %}
                                                                <a href="{% url 'profiles' comment.owner.user_id %}">{{ comment.owner.business_name }}</a>
                                                            {% endif %}

                                                            <time datetime="2022-03-28">{{ comment.created }}</time>
                                                        </h6>
                                                    </header>
                                                {% elif comment.owner.is_superuser %}
                                                    <header>
                                                        <h6>{{ comment.owner.username }}
                                                            <time datetime="2022-03-28">{{ comment.created }}</time>
                                                        </h6>
                                                    </header>
                                                {% else %}
                                                    <header>
                                                        <h6>
                                                            {% if profile.user_id == comment.owner.user_id %}
                                                                <a href="{% url 'profile' %}">{{ comment.owner.full_name }}</a>
                                                            {% else %}
                                                                <a href="{% url 'profiles' comment.owner.user_id %}">{{ comment.owner.full_name }}</a>
                                                            {% endif %}

                                                            <time datetime="2022-03-28">{{ comment.created }}</time>
                                                        </h6>
                                                    </header>
                                                {% endif %}

                                                <p>{{ comment.body }}</p>

                                            </div>
                                        </li>
                                    {% endfor %}

                                </ul>

                            </div>
                            {% if request.user.is_authenticated %}
                                <div class="add-comment">
                                    <header><h3>Leave an Answer</h3></header>
                                    <form action="" method="post" class="clearfix">
                                        {% csrf_token %}

                                        <div class="labeled-input">

                                            {{ form.body }}

                                        </div>

                                        <button class="btn btn-green btn-small">Submit</button>
                                    </form>
                                </div>
                            {% else %}
                                <div class="add-comment">

                                    <a href="{% url 'login' %}?next={{ request.path }}">Please login to leave a
                                        answer</a>

                                </div>
                            {% endif %}
                        </div>

                    </div>
                {% if forum.owner != NULL %}
                    <!-- latest part -->
                    <div class="col-xs-12 col-md-4">
                        <aside class="sidebar card radius-15">

                            <div class="widget-latest-posts widget"
                                 style="background: url('{% static 'images/petitos.jpg' %}'); background-blend-mode: overlay; background-size: cover;">
                                <header>
                                    <h4 style="background-color: #f0f8ffb0;"><b>Latest Questions </b></h4>
                                </header>

                                {% for latest in latest %}

                                    <a href="{% url 'forum-detail' latest.id %}" class="latest-post"
                                       style="background-color: #f0f8ffb0;     padding: 30px 0 30px 80px;">

                                        <span>{{ latest.title|slice:"50" }}
                                            <time>{{ latest.created }}</time>
                                        </span>
                                    </a>

                                {% endfor %}

                            </div>


                        </aside>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}