{% extends 'main-forum-blog.html' %}
{% load static %}

{% block content %}

    {% if request.user.is_authenticated %}

        {% if profile.user_type == 'petlover' %}

            <div class="app-canvas">
            <div class="container">
            <div class="blog-page">
            <div class="row">
            <!-- blog card -->
            <div class="col-xs-12 col-md-8">
                <div class="container" style="margin-bottom:10%">
                    <div class="row">
                        <div clasS="col-md-8 mx-auto" >
                            <div class="card radius-15" style="background:white;height: 147%;">
                                <div class="card-body" style="height:560px">
                                    <div class="widget-latest-posts widget" style="padding: 0px;">
                                        <div class="card-title">
                                            <h5 class="mb-0" style="margin-left:10px; font-size: 28px">
                                                Blog </h5>
                                        </div>

                                        <div class="input-group">

                                            <form id="searchForm" method="get"
                                                  action="{% url 'blog-page' %}"
                                                  style="display: contents;">
                                                <input name="search_query" type="search"
                                                       class="form-control rounded"
                                                       aria-label="Search" aria-describedby="search-addon"
                                                       style="margin-left: 390px;max-width: 100px"/>
                                                <input type="submit" value="Search" class="fas fa-search"
                                                       style="padding: 3px 32px;margin-left: 524px;margin-top: -24px;"/>
                                            </form>

                                        </div>

                                        <hr>

                                        {% for blog in blogs %}

                                            <a href="{% url 'blog-detail' blog.id %}" class="latest-post"
                                               style="margin-left:10px">
                                                <figure class="imgAsBg"
                                                        style="background-image: url('{% static 'images/dog1.jpg' %}');">
                                                    <img src="{{ blog.blog_image.url }}" alt="dummy">
                                                </figure>
                                                <span>
                                            {{ blog.title }}
                                                    {% if blog.owner.is_superuser %}
                                                        <p>Writer : {{ blog.owner.username }} </p>
                                                    {% else %}
                                                        <p>Writer : {{ blog.owner.business_name }} </p>
                                                    {% endif %}
                                                    <time>{{ blog.created }}</time>
                                        </span>
                                            </a>

                                        {% endfor %}

                                        {#        pagination                #}
                                        {% include 'pagination.html' with queryset=blogs custom_range=custom_range search_query=search_query %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% elif profile.user_type == 'business' or profile.is_superuser %}


            <div class="app-canvas">
            <div class="container">
            <div class="blog-page">
            <div class="row">
            <!-- blog card -->
            <div class="col-xs-12 col-md-8">
                <div class="container" style="margin-bottom:10%">
                    <div class="row">
                        <div clasS="col-md-8">
                            <div class="card radius-15" style="background:white;height: 147%;">
                                <div class="card-body" style="height:560px">
                                    <div class="widget-latest-posts widget" style="padding: 0px;">
                                        <div class="card-title">
                                            <h5 class="mb-0" style="margin-left:10px; font-size: 28px">
                                                Blog </h5>
                                        </div>

                                        <div class="input-group">

                                            <form id="searchForm" method="get"
                                                  action="{% url 'blog-page' %}"
                                                  style="display: contents;">
                                                <input name="search_query" type="search"
                                                       class="form-control rounded"
                                                       aria-label="Search" aria-describedby="search-addon"
                                                       style="margin-left: 390px;max-width: 100px"/>
                                                <input type="submit" value="Search" class="fas fa-search"
                                                       style="padding: 3px 32px;margin-left: 524px;margin-top: -24px;"/>
                                            </form>

                                        </div>

                                        <hr>

                                        {% for blog in blogs %}

                                            <a href="{% url 'blog-detail' blog.id %}" class="latest-post"
                                               style="margin-left:10px">
                                                <figure class="imgAsBg"
                                                        style="background-image: url('{% static 'images/dog1.jpg' %}');">
                                                    <img src="{{ blog.blog_image.url }}" alt="dummy">
                                                </figure>
                                                <span>
                                            {{ blog.title }}
                                                    {% if blog.owner.is_superuser %}
                                                        <p>Writer : {{ blog.owner.username }} </p>
                                                    {% else %}
                                                        <p>Writer : {{ blog.owner.business_name }} </p>
                                                    {% endif %}
                                                    <time>{{ blog.created }}</time>
                                        </span>
                                            </a>

                                        {% endfor %}

                                        {#        pagination                #}
                                        {% include 'pagination.html' with queryset=blogs custom_range=custom_range search_query=search_query %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- publish card -->
            <div class="col-xs-12 col-md-4">
                <aside class="card radius-15 sidebar">
                    <div class="widget-about widget">
                        <header>
                            <h4>Share Post</h4>
                        </header>
                        <img src="{% static 'images/petcircle.jpg' %}" id="icon" alt="User Icon"
                             style="border-radius: 50%;margin-top:10px;max-width: 80%;"/>

                        <form method="post" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label>Choose Image</label>
                            <div class="p-image" style="margin-top:20px;">
                                {{ form.blog_image }}
                            </div>
                            <label>Title</label>
                            {{ form.title }}
                            <label>Post</label>
                            {{ form.post }}
                            <input type="submit" class="fadeIn fourth" value="Share"
                                   style="margin-top:20px">
                        </form>

                    </div>
                </aside>
            </div>

        {% endif %}

    </div>

    </div>

    </div>
    </div>

    {% else %}

        <div class="app-canvas">
            <div class="container">
                <div class="blog-page">
                    <div class="row">
                        <!-- blog card -->
                        <div class="col-xs-12 col-md-8">
                            <div class="container" style="margin-bottom:10%">
                                <div class="row">
                                    <div clasS="col-md-8 mx-auto">
                                        <div class="card radius-15" style="background:white;height: 147%;">
                                            <div class="card-body" style="height:560px">
                                                <div class="widget-latest-posts widget" style="padding: 0px;">
                                                    <div class="card-title">
                                                        <h5 class="mb-0" style="margin-left:10px; font-size: 28px">
                                                            Blog </h5>
                                                    </div>
                                                    <div class="input-group">
                                                        <form id="searchForm" method="get"
                                                              action="{% url 'blog-page' %}"
                                                              style="display: contents;">
                                                            <input name="search_query" type="search"
                                                                   class="form-control rounded"
                                                                   aria-label="Search" aria-describedby="search-addon"
                                                                   style="margin-left: 390px;max-width: 100px"/>
                                                            <input type="submit" value="Search" class="fas fa-search"
                                                                   style="padding: 3px 32px;margin-left: 524px;margin-top: -24px;"/>
                                                        </form>
                                                    </div>
                                                    <hr>

                                                    {% for blog in blogs %}

                                                        <a href="{% url 'blog-detail' blog.id %}" class="latest-post"
                                                           style="margin-left:10px">
                                                            <figure class="imgAsBg"
                                                                    style="background-image: url('{% static 'images/dog1.jpg' %}');">
                                                                <img src="{{ blog.blog_image.url }}" alt="dummy">
                                                            </figure>
                                                            <span>
                                            {{ blog.title }}
                                                                {% if blog.owner.is_superuser %}
                                                                    <p>Writer : {{ blog.owner.username }} </p>
                                                                {% else %}
                                                                    <p>Writer : {{ blog.owner.business_name }} </p>
                                                                {% endif %}
                                                                <time>{{ blog.created }}</time>
                                        </span>
                                                        </a>

                                                    {% endfor %}

                                                    {#        pagination                #}
                                                    {% include 'pagination.html' with queryset=blogs custom_range=custom_range search_query=search_query %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    {% endif %}

{% endblock %}