{% extends 'main-profile.html' %}
{% load static %}

{% block content %}

    <div class="col-md-4" style="margin-left: 508px;margin-top: 30px;">

                <div class="row">
                    <div class="blog-page" style="width:100%">
                        <aside class="cardd radius-15 sidebar" style="background-color: #ffffffb0;">
                            <div class="widget-about widget">
                                <header>
                                   <h4>Reset your password: </h4>
                                    <hr>
                                </header>
                                <form>
                                    <label >New Password:</label><input type="password" id="password"><br><br>
                                    <label for="fname">Password check:</label><input type="password" id="password2"><br><br>

                                    <hr>
                                <br>
                                    <button type="button" style="border-radius: 10%" class="btn btn-secondary" href="edit-profile-form.html">Cancel</button>
                                    <button type="button" style="border-radius: 10%" class="btn btn-info" href="edit-profile-form.html">Save</button>
                                </form>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>

{% endblock content %}