{% extends 'main.html' %}
{% load static %}

{% block content %}

    <div class="web-app">

        <div class="app-canvas" style="background-color: #d33d61; height: 1900px">
            <div class="main-banner imgAsBg hero-banner"
                 style="background-image: url('{% static 'images/DogDog.jpg' %}'); height: 1900px">

                <!-- profile, announcements (lost, adopt,found) -->
            <div class="section">

                <div class="container">

                                <!-- blog, post cards -->
                    <div class="container" style="margin-bottom:10%">
                        <div class="row">
                            <div clasS="col-md-6">
                                <div class="card radius-15" style="background: url('{% static 'images/background.png' %}')">
                                    <div class="card-body" style="height:500px">
                                        <div class="widget-latest-posts widget">
                                            <div class="card-title" style="display: flex;">
                                                <a href="{% url 'blog-page' %}">
                                                    <h5 class="mb-0" style="margin-left:10px" type="button">Blog</h5></a>
                                            </div>
                                            {% for blog in blogs %}
                                                <a href="{% url 'blog-detail' blog.id %}" class="latest-post" style="margin-left:10px;text-align: left;">
                                                    {% if blog.blog_image == '' %}
                                                        <figure class="imgAsBg" style="background-image: url('{% static 'images/dog1.jpg' %}');"></figure>
                                                    {% else %}
                                                        <figure class="imgAsBg" style="background-image: url('{{ blog.blog_image.url }}');"></figure>
                                                    {% endif %}
                                                    <span>
                                                        {{ blog.title }}
                                                        <p>Writer : {{ blog.owner.business_name }} </p>
                                                        <time>{{ blog.created }}</time>
                                                    </span>
                                                </a>
                                            {% endfor %}
                                            <a href="{% url 'blog-page' %}"><h6 type="button" style="margin-top: auto;text-align: end;color: black">View All </h6></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card radius-15" style="background: url('{% static 'images/background.png' %}')">
                                    <div class="card-body" style="height:500px">
                                        <div class="card-title" style="display: flex;">
                                            <a href="{% url 'forum-page' %}">
                                                <h5 class="mb-0" style="margin-left:10px" type="button">Forum </h5></a>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Answer</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for forum in forums %}
                                                    <tr>
                                                        <td style="text-align-last: start;"><a style="color: black" href="{% url 'forum-detail' forum.id %}">{{ forum.title|slice:"35" }}</a>
                                                        </td>
                                                        <td>{{ forum.forumcomment_set.count }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <a href="{% url 'forum-page' %}"><h6 type="button" style="margin-top: auto;text-align: end;color: black">View All </h6></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- announcements -->
                    <div class="category-thumbs clearfix" style="max-width: 80%;display: inline-block;">
                        <div class="cat-thumb">
                            <img src="{% static 'images/lostpetnew.jpg' %}" alt="dummy" style="border-radius: 10%;">
                            <a href="{% url 'lost-announce' %}">go to category</a>
                            <div class="cat-caption">
                                <div class="bg2" style="border-radius: 50%;">
                                    <h3 style="font-size: 16px;">Lost Anoucements</h3>
                                    <span>{{ lost.count }} Anouncements</span>
                                </div>
                            </div>
                        </div>
                        <div class="cat-thumb">
                            <img src="{% static 'images/adoptnew.jpg' %}" alt="dummy" style="border-radius: 10%;">
                            <a href="{% url 'adopt-announce' %}">go to category</a>
                            <div class="cat-caption">
                                <div class="bg2" style="border-radius: 50%;">
                                    <h3 style="font-size: 16px;">Adoptment Anoucements</h3>
                                    <span>{{ adopt.count }} Anouncements</span>
                                </div>
                            </div>
                        </div>
                        <div class="cat-thumb">
                            <img src="{% static 'images/foundednew.jpg' %}" alt="dummy" style="border-radius: 10%;">
                            <a href="{% url 'founded-announce' %}">go to category</a>
                            <div class="cat-caption">
                                <div class="bg2" style="border-radius: 50%;">
                                    <h3 style="font-size: 16px;">Founded Anouncements</h3>
                                    <span>{{ founded.count }} Anouncements</span>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
                <div class="inner" style="margin-top: -1%;">

                </div>
            </div>

        </div>

        <!-- footer  -->
        <footer class="doc-footer style2">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h6>Contact Us: Petopia@support.com</h6>
                    <ul>

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h6>Petopia will be implemented as everything is little, little terminology.</h6>
                    <div class="text-widget">

                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h6>Petopia going to contains many of features together, unlike other pet websites.</h6>
                    <div class="widget-recent-items">

                    </div>
                </div>
            </div>
            <div class="row">

            </div>
        </footer>
    </div>

{% endblock content %}