{% extends 'main-register-choose.html' %}
{% load static %}

{% block content %}

<!-- login card -->
<div class="wrapper fadeInDown" >
  <div id="formContent">

    <!-- Icon -->
    <div class="fadeIn first">
        <img src="{% static 'images/petcircle.jpg' %}" id="icon" alt="User Icon" style="border-radius: 50%;margin-top:15px" />
    </div>

    <!-- Login Form -->
    <form>

      <input type="text" id="login" class="fadeIn second" name="login" placeholder="e-mail">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Password -->
    <div id="formFooter">
      <a class="underlineHover" href = "">Forgot Password?</a>
    </div>

  </div>
</div>

{% endblock content %}