{% extends 'main-profile.html' %}
{% load static %}

{% block content %}

    <div class="container" style="margin-top:50px;width:1500px;max-width:1500px;">
        <div class="row">
            <!-- settings -->
            <div class="col-md-4">
                <div class="blog-page">
                    <aside class="cardd radius-15 sidebar" style="height: 1050px;">
                        <div class="widget-about widget">
                            <header>
                                <h4>Settings</h4>
                                <hr>
                            </header>
                            <img src="{% static  'images/profile.jpg' %}" id="icon2" alt="User Icon" style="border-radius: 50%;margin-top:10px;max-width:40%">
                            <div class="p-image" style="margin-top:30px;">
                                <i class="fa fa-camera upload-button"></i>
                                <input accept="image/*" type="file" class="file-upload"></div>
                            <button type="button" style="margin-top:30px;width:100%;height: 60px;"
                                    class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal"
                                    data-whatever="@getbootstrap">Change E-mail
                            </button>
                            <button type="button" style="margin-top:30px;width:100%;height: 60px;"
                                    class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalPass"
                                    data-whatever="@getbootstrap">Change Password
                            </button>
                            <button type="button" style="margin-top:30px;width:100%;height: 60px"
                                    class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalAdress"
                                    data-whatever="@getbootstrap">Change Adress
                            </button>
                            <button type="button" style="margin-top:30px;width:100%;height: 60px;"
                                    class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalPhone"
                                    data-whatever="@getbootstrap">Change Phone Number
                            </button>
                            <button type="button" style="margin-top:30px;width:100%;height: 60px;"
                                    class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalPet"
                                    data-whatever="@getbootstrap">Add Pet
                            </button>
                            <button type="button" style="margin-top:30px;width:100%;height: 60px;"
                                    class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalInfo"
                                    data-whatever="@getbootstrap">Delete A Pet
                            </button>


                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Change E-mail</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>

                                                <div class="form-group">
                                                    <label for="mailChange2" class="col-form-label">New Mail
                                                        Adress:</label>
                                                    <input type="text" class="form-control" id="mailChange2">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="button" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModalPass" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabelPass" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabelPass">Change Password</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="password" class="col-form-label">New Password:</label>
                                                    <input type="text" class="form-control" id="password">
                                                </div>
                                                <div class="form-group">
                                                    <label for="password2" class="col-form-label">New Password:</label>
                                                    <input type="text" class="form-control" id="password2">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="button" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModalAdress" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabelAdress" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabelAdress">Change Adress</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="adressChange" class="col-form-label">New Adress:</label>
                                                    <textarea class="form-control" id="adressChange"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="button" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModalInfo" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabelInfo" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabelInfo">Change Pet Info</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="infoChange" class="col-form-label">New Info:</label>
                                                    <textarea class="form-control" id="infoChange"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="button" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModalPet" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabelPet" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabelPet">Add Pet</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <div class="control">
                                                        <label class="radio"> <input type="radio" name="answer"> Cat
                                                        </label>
                                                        <label class="radio"> <input type="radio" name="answer"> Dog
                                                        </label>
                                                    </div>
                                                    <input type="text" id="ntext" style="margin-top:10px"
                                                           class="form-control form-control-lg" placeholder="Pet Name">
                                                    <input type="text" id="login" style="margin-top:10px"
                                                           class="fadeIn second" name="loginbusinessname"
                                                           placeholder="Height">
                                                    <input type="text" id="nhtext" style="margin-top:10px"
                                                           class="form-control form-control-lg" placeholder="Weight">
                                                    <input type="text" id="add" style="margin-top:10px"
                                                           class="fadeIn second" name="add" placeholder="Type"
                                                           style="padding: 20px 20px">
                                                    <input type="date" style="margin-top:10px;padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    background-color: #f6f6f6;
    border: 0; background-color:#f6f6f6" id="birtday" name="birthday">
                                                    <br>
                                                    <div class="control">
                                                        <label class="radio"> <input type="radio" name="answer"> Female
                                                        </label>
                                                        <label class="radio"> <input type="radio" name="answer"> Male
                                                        </label>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="button" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModalPhone" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabelPhone" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabelPhone">Change Phone Number</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="newPhone" class="col-form-label">New Phone:</label>
                                                    <input type="text" class="form-control" id="newPhone">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="button" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </aside>

                </div>

            </div>
            <!-- profile -->
            <div class="col-md-4">
                <div class="row">
                    <div class="blog-page" style="width:100%">
                        <aside class="cardd radius-15 sidebar" style="height: 1050px;">
                            <div class="widget-about widget">
                                <header>
                                    <h4>Information</h4>
                                    <hr>
                                </header>
                                <form>
                                    <fieldset disabled style="border:0px;">
                                        <div class="form-group">
                                            <label for="disabledName">Name & Surname</label>
                                            <input type="text" style="text-align:center;font-size: 17px;height: 60px;"
                                                   id="disabledName" class="form-control" placeholder="Doğa Özyağcı">
                                        </div>
                                        <div class="form-group">
                                            <label for="disabledGender" style="margin-top:20px;">Gender</label>
                                            <input type="text" style="text-align:center;font-size: 17px;height: 60px;"
                                                   id="disabledGender" class="form-control" placeholder="Female">
                                        </div>
                                        <div class="form-group">
                                            <label for="disabledEmail" style="margin-top:20px;">Email</label>
                                            <input type="text" style="text-align:center;font-size: 17px;height: 60px;"
                                                   id="disabledEmail" class="form-control"
                                                   placeholder="doga.ozyagcı@testinium.com">
                                        </div>
                                        <div class="form-group">
                                            <label for="disabledTCKN" style="margin-top:20px;">TCKN</label>
                                            <input type="text" style="text-align:center;font-size: 17px;height: 60px;"
                                                   id="disabledTCKN" class="form-control" placeholder="45953943493">
                                        </div>
                                        <div class="form-group">
                                            <label for="disabledBdate" style="margin-top:20px;">Birth Date</label>
                                            <input type="text" style="text-align:center;font-size: 17px;height: 60px;"
                                                   id="disabledBdate" class="form-control" placeholder="01.09.1998">
                                        </div>
                                        <div class="form-group">
                                            <label for="disabledPhone" style="margin-top:20px;">Phone Number</label>
                                            <input type="text" style="text-align:center;font-size: 17px;height: 60px;"
                                                   id="disabledPhone" class="form-control" placeholder="05074663526">
                                        </div>
                                        <div class="form-group">
                                            <label for="disabledAdress" style="margin-top:20px;">Adress</label>
                                            <input type="text" style="text-align:center;font-size: 17px;height: 60px;"
                                                   id="disabledAdress" class="form-control" placeholder="Akasya AVM">
                                        </div>

                                    </fieldset>
                                </form>


                            </div>


                        </aside>

                    </div>

                </div>

            </div>
            <!-- pet sub profile -->
            <div class="col-md-4">
                <div class="blog-page">
                    <aside class="cardd radius-15 sidebar" style="height: 1050px;">
                        <div class="widget-about widget">
                            <header>
                                <h4>Pet Sub Profile</h4>
                                <hr>
                            </header>
                            <img src="{% static 'images/petcircle.jpg' %}" id="icon" alt="User Icon"
                                 style="border-radius: 50%;margin-top:10px;max-width: 40%;"/>

                            <div class="p-image" style="margin-top:30px;">
                                <i class="fa fa-camera upload-button"></i>


                                <form>
                                    <fieldset disabled style="border:0px;">
                                        <div class="form-group">
                                            <label for="disabledName">Type</label>
                                            <input type="text" style="text-align:center;font-size: 17px;height: 50px;"
                                                   id="disabledType" class="form-control" placeholder="Terrier">
                                        </div>
                                        <div class="form-group">
                                            <label for="disabledNamePet" style="margin-top:10px;">Name</label>
                                            <input type="text" style="text-align:center;font-size: 17px;height: 50px;"
                                                   id="disabledNamePet" class="form-control" placeholder="Harley">
                                        </div>
                                        <div class="form-group">
                                            <label for="disabledAge" style="margin-top:15px;">Age</label>
                                            <input type="text" style="text-align:center;font-size: 17px;height: 50px;"
                                                   id="disabledAge" class="form-control" placeholder="6">
                                        </div>
                                        <div class="form-group">
                                            <label for="disabledGenderPet" style="margin-top:15px;">Gender</label>
                                            <input type="text" style="text-align:center;font-size: 17px;height: 50px;"
                                                   id="disabledGenderPet" class="form-control" placeholder="Female">
                                        </div>
                                        <div class="form-group">
                                            <label for="disabledHeight" style="margin-top:15px;">Height</label>
                                            <input type="text" style="text-align:center;font-size: 17px;height: 50px;"
                                                   id="disabledHeight" class="form-control" placeholder="50cm">
                                        </div>
                                        <div class="form-group">
                                            <label for="disabledWeight" style="margin-top:15px;">Weight</label>
                                            <input type="text" style="text-align:center;font-size: 17px;height: 50px;"
                                                   id="disabledWeight" class="form-control" placeholder="7.5 kg">
                                        </div>


                                    </fieldset>
                                </form>
                                <div class="pagination">
                                    <a href="#">❮</a>
                                    <a href="#">❯</a>
                                </div>


                            </div>


                        </div>
                    </aside>

                </div>

            </div>
        </div>
    </div>

{% endblock %}