{% extends 'main-register-users.html' %}
{% load static %}
{% block content %}


    <div class="container" id="container" style="height:1000px;margin-top:35px">
        <div class="form-container sign-in-container" style="background-color:#faebf1">
         <div class="social-container">
                        <a href="{% url 'register-choose' %}" style="margin-left: 158px;"><h2 class="inactive underlineHover">
                            Back</h2></a>
                        <br>
                        <a href='{% url 'login' %}'><h2 class="inactive underlineHover" style="margin-left: 119px;"> Sign In</h2></a>
                        <a href='#'><h2 class="active">Sign Up </h2></a>
                    </div>
            <form class="myform" action="#" style="overflow: auto;">

                {% for field in form %}
                    {{ field.label }}
                    {{ field }}
                {% endfor %}

                <input type="submit" class="fadeIn fourth" style="margin-bottom: -100px;" value="Register">
            <br> <br> <br> <br>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">

                <div class="overlay-panel overlay-right" style="background: url('{% static 'images/petssss.jpg' %}')">

                </div>
            </div>
        </div>
    </div>

{% endblock %}