<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>TEST</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {% for field in formUser %}

        {{ field.label }}
        {{ field }}

    {% endfor %}
    <input type="submit" value="Register">
</form>

</body>
</html>