{% extends 'main.html' %}
{% load static %}


{% block content %}
{% if profile.is_superuser %}
    <div class="card" style="background-color: #ffc0cb00;display: flex;justify-content: flex-start;flex-direction: row;align-items: flex-start;">

        {% include 'sidebar-dashboard.html' %}

        <div class="card" style="width: 130rem;margin-left: 30px;margin-top: 27px;border-radius: 1%;height: 68rem;">
            <h4 style="font-family: cursive;">Forums</h4>
                <div class="card-body">
                    <ul class="list-group" style="font-size: initial; margin-top: 10px">

                        {% for forum in forums %}
                        <li class="list-group-item" style="display: flex;flex-wrap: nowrap;justify-content: space-between;">
                        {% if forum.owner != NULL %}
                            <a href="{% url 'forum-detail' forum.id %}" style="color: black; font-family: cursive">{{ forum.title|slice:"100" }} - ({{ forum.owner.username }})</a>
                            {% else %}
                            <a href="{% url 'forum-detail' forum.id %}" style="color: black; font-family: cursive">{{ forum.title|slice:"100" }} - ([<s>Deleted User</s>])</a>
                            {% endif %}
                            <a href="{% url 'admin-dashboard-delete-forum' forum.id %}?next=/dashboard-forums " style="max-width: 1100px"><button class="btn btn-danger" style="font-size: initial;">delete</button></a>
                        </li>
                        {% endfor %}

                    </ul>
                        <!-- pagination -->
                    {% include 'pagination.html' with queryset=forums custom_range=custom_range search_query=search_query %}

                </div>
            </div>

    </div>

          {% else %}

        <div class="card mx-auto"  >
        <img src="{% static 'images/error.jpg' %}" id="icon" alt="User Icon"
                             style="width: 100%;
                margin-top: 0px;background-position: center;
                background-size: cover; min-height: 600px;"/>
        </div>



    {% endif %}


{% endblock %}