{% extends 'main.html' %}
{% load static %}


{% block content %}
    <div class="card" style="background-color: #ffc0cb00;display: flex;justify-content: flex-start;flex-direction: row;align-items: flex-start;">

        {% include 'sidebar-dashboard.html' %}

        <div style="display: flex; flex-wrap: wrap;">
            <div class="card" style="width: 30rem;margin-left: 30px;margin-top: 30px;border-radius: 10%;height: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Petlover Users</h5>
                    <h6 class="card-subtitle mb-2 text-muted">User Count:</h6>
                    <a style="display: flex;align-content: space-around;justify-content: space-around;font-size: 100px;margin-top: 20px;"> {{ pl_count }}</a>
        </div>
            </div>
            <div class="card" style="width: 30rem;margin-left: 30px;margin-top: 30px;border-radius: 10%;height: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Business Accounts</h5>
                    <h6 class="card-subtitle mb-2 text-muted">User Count:</h6>
                    <a style="display: flex;align-content: space-around;justify-content: space-around;font-size: 100px;margin-top: 20px;">{{ busi_count }}</a>
                </div>
            </div>
            <div class="card" style="width: 30rem;margin-left: 30px;margin-top: 30px;border-radius: 10%;height: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Pets</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Pet Count:</h6>
                    <a style="display: flex;align-content: space-around;justify-content: space-around;font-size: 100px;margin-top: 20px;">{{ pet_count }}</a>
                </div>
            </div>
            <div class="card" style="width: 30rem;margin-left: 30px;margin-top: 30px;border-radius: 10%;height: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Forum Page</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Question Count:</h6>
                    <a style="display: flex;align-content: space-around;justify-content: space-around;font-size: 100px;margin-top: 20px;">{{ forum_count }}</a>
                </div>
            </div>
            <div class="card" style="width: 30rem;margin-left: 30px;margin-top: 30px;border-radius: 10%;height: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Blog Page</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Post Count:</h6>
                    <a style="display: flex;align-content: space-around;justify-content: space-around;font-size: 100px;margin-top: 20px;">{{ blog_count }}</a>
                </div>
            </div>
            <div class="card" style="width: 30rem;margin-left: 30px;margin-top: 30px;border-radius: 10%;height: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Adopted Announces</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Announce Count:</h6>
                    <a style="display: flex;align-content: space-around;justify-content: space-around;font-size: 100px;margin-top: 20px;">{{ adopt_count }}</a>
                </div>
            </div>
            <div class="card" style="width: 30rem;margin-left: 30px;margin-top: 30px;border-radius: 10%;height: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Founded Announces</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Announce Count:</h6>
                    <a style="display: flex;align-content: space-around;justify-content: space-around;font-size: 100px;margin-top: 20px;">{{ founded_count }}</a>
                </div>
            </div>
            <div class="card" style="width: 30rem;margin-left: 30px;margin-top: 30px;border-radius: 10%;height: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Lost Announces</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Announce Count:</h6>
                    <a style="display: flex;align-content: space-around;justify-content: space-around;font-size: 100px;margin-top: 20px;">{{ lost_count }}</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}