{% extends 'main.html' %}
{% load static %}


{% block content %}
    {% if profile.is_superuser %}
    <div class="card"
         style="background-color: #ffc0cb00;display: flex;justify-content: flex-start;flex-direction: row;align-items: flex-start;">

        {% include 'sidebar-dashboard.html' %}

        <div class="card" style="width: 130rem;margin-left: 30px;margin-top: 27px;border-radius: 1%;height: 68rem;">
            <h4 style="font-family: cursive;">Founded Announces</h4>
            <div class="card-body">
                <ul class="list-group" style="font-size: initial; margin-top: 10px">

                    {% for found in founded %}
                        <li class="list-group-item"
                            style="display: flex;flex-wrap: nowrap;justify-content: space-between;">
                            <div>
                                <a href="{% url 'founded-announce-detail' found.id %}" style="color: black; font-family: cursive">{{ found.title }} - ({{ found.status }})</a>
                            </div>
                            <div>
                                <a href="{% url 'admin-dashboard-close-founded' found.id %}?next=/dashboard-founded">
                                <button class="btn btn-success" style="font-size: initial;">Status</button>
                                </a>
                                <a href="{% url 'admin-dashboard-delete-founded' found.id %}?next=/dashboard-founded">
                                <button class="btn btn-danger" style="font-size: initial;">Delete</button>
                                </a>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
                <!-- pagination -->
                {% include 'pagination.html' with queryset=founded custom_range=custom_range search_query=search_query %}

            </div>
        </div>

    </div>

          {% else %}

        <div class="card mx-auto"  >
        <img src="{% static 'images/error.jpg' %}" id="icon" alt="User Icon"
                             style="width: 100%;
                margin-top: 0px;background-position: center;
                background-size: cover; min-height: 600px;"/>
        </div>



    {% endif %}


{% endblock %}