{% extends 'main.html' %}
{% load static %}

{% block content %}
    {% if profile.is_superuser %}

    <div class="card mx-auto" style="width: 50rem; margin-top: 20rem">
        <div class="card-body">
            <h5 class="card-title">Are you sure to change announcement status <b>({{ object }})</b>?</h5>
            <form class="form" action="" method="post">
                    {% csrf_token %}
                {% for field in form %}
                    <label>{{ field.label }}</label>
                    <br>
                    <div style="font-size: 20px">
                        {{ field }}
                    </div>
                {% endfor %}
                    <input type="submit" class="btn btn-success" style="font-size: inherit; margin-top: 10px;" value="Confirm">
                </form>
            <a href="{% url 'admin-dashboard' %}"><input type="submit" class="btn btn-danger" value="Close" style="display: flex; flex-wrap: nowrap; margin-left: 17%; margin-top: -6.7%; font-size: inherit;"></a>
        </div>
    </div>
    {% else %}

        <div class="card mx-auto"  >
        <img src="{% static 'images/error.jpg' %}" id="icon" alt="User Icon"
                             style="width: 100%;
                margin-top: 0px;background-position: center;
                background-size: cover;min-height: 600px;"/>
        </div>



    {% endif %}

{% endblock %}