{% extends 'main-profile.html' %}
{% load static %}

{% block content %}

    <div class="col-md-4" style="margin-left: 35%; margin-top: 2%; min-width: 500px;">
        <div class="row">
            <div class="blog-page" style="width:100%">
                <aside class="cardd radius-15 sidebar" style="background-color: #ffffffb0;">
                    <div class="widget-about widget">
                        <header>
                            <h4>Password reset sent</h4>
                            <hr>
                        </header>
                        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

                    </div>
                </aside>
            </div>
        </div>
    </div>

{% endblock content %}