{% extends 'main-profile.html' %}
{% load static %}

{% block content %}

    <div class="col-md-4" style="margin-left: 35%; margin-top: 2%; min-width: 500px; font-family: cursive">
        <div class="row">
            <div class="blog-page" style="width:100%">
                <aside class="cardd radius-15 sidebar" style="background-color: #ffffffb0;">
                    <div class="widget-about widget">
                        <header>
                            <h4>Reset your password:</h4>
                            <hr>
                        </header>
                        <form class="form" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <hr>
                            <input style="border-radius: 10%" class="btn btn-info" type="submit" value="Save">
                        </form>

                    </div>
                </aside>
            </div>
        </div>
    </div>

{% endblock content %}