{% load static %}

<div class="card" style="min-width: 283px;height: 719px;display: flex;max-width: 294px; background-color: #ece6e2;">
    <a href="{% url 'admin-dashboard' %}">
        <img class="card-img-top" src="{% static 'images/catanddog.png' %}" alt="Card image cap"></a>
    <a href="{% url 'admin-dashboard' %}">
        <h5 class="card-title" href="{% url 'admin-dashboard' %}"
            style="display: flex; justify-content: space-around;font-family: cursive;font-size: x-large;">Admin
            Panel</h5></a>

    <hr>
    <ul class="list-group list-group-flush" style="font-size: initial">
        <li class="list-group-item" style="background-color: #ece6e2; font-family: cursive;"><a href="{% url 'admin-dashboard-petlover' %}" style="color: black;">Petlover
            Users</a></li>
        <li class="list-group-item" style="background-color: #ece6e2; font-family: cursive;"><a href="{% url 'admin-dashboard-business' %}" style="color: black;">Business
            Accounts</a></li>
        <li class="list-group-item" style="background-color: #ece6e2; font-family: cursive;"><a href="{% url 'admin-dashboard-blogs' %}" style="color: black;">Blogs</a></li>
        <li class="list-group-item" style="background-color: #ece6e2; font-family: cursive;"><a href="{% url 'admin-dashboard-forums' %}" style="color: black;">Forums</a></li>
        <li class="list-group-item" style="background-color: #ece6e2; font-family: cursive;"><a href="{% url 'admin-dashboard-adopted' %}" style="color: black;">Adopted
            Announces</a></li>
        <li class="list-group-item" style="background-color: #ece6e2; font-family: cursive;"><a href="{% url 'admin-dashboard-founded' %}" style="color: black;">Founded
            Announces</a></li>
        <li class="list-group-item" style="background-color: #ece6e2; font-family: cursive;"><a href="{% url 'admin-dashboard-lost' %}" style="color: black;">Lost
            Announces</a></li>
    </ul>
</div>