.alert {
  display: inline-flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  border-radius: 3px;
  border: 1px solid white;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-family: cursive;
}

.alert,
.alert > .alert__message {
  background-color: rgba(47, 47, 47, 0.78);
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: cursive;
}

.alert.alert--error,
.alert.alert--error > .alert__message {
  background-color: rgba(222, 178, 42, 0.79);
  color: white;
  font-weight: bold;
}

.alert.alert--success,
.alert.alert--success > .alert__message {
  background-color: rgba(110, 194, 82, 0.85);
  color: white;
  font-family: cursive;
}

.alert > .alert__close {
  background-color: rgba(52, 52, 52, 0.85);
  color: white;
  cursor: pointer;
  border: none;
  outline: transparent;
  font-size: 2rem;
  font-family: cursive;
}

.alert > .alert__close:hover {
  opacity: 0.85;
   margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}